# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
backend/insta-venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Testing / cache
.pytest_cache/
.coverage
htmlcov/

# Node (frontend later)
node_modules/
.next/
dist/